<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
	<title>GiveBack</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="assets/css/main.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>
<body class="homepage">
	<div id="page-wrapper">

		<!-- Header -->
		<div id="header-wrapper">
			<div id="header">

				<!-- Logo -->
				<h1><a href="#">GiveBack</a></h1>

				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="current"><a href="/users/kowshik/rewards">Rewards</a></li>
						<li class="current"><a href="/users/kowshik">Profile</a></li>
						<li class="current"><a href="/">Find Causes</a></li>

					</ul>
				</nav>

				<!-- Banner -->
				<section id="banner">
					<header>
						<h2>Impact | Rewards | Efficiency </h2>
						<p>Put your money where your mind is</p>
					</header><br>
					<a href="#intro" class="button big">Get Started</a>
				</section>

				<!-- Intro -->
				<section id="intro" class="container">
					<div class="row">
						<div class="4u 12u(mobile)">
							<section class="first">
								<i class="icon featured fa-paw"></i>
								<header>
									<h2>{{causes.[0].name}}</h2>
								</header>
								<p>{{causes.[0].description}}</p>
								<hr/>
								<p class="current"> <span style="font-size: 120%"><strong>${{causes.[0].current}}</strong></span> raised </p>
								
								<progress value="{{causes.[0].current}}" max="{{causes.[0].goal}}"> Progress</progress> 
								<p class="goal">${{causes.[0].goal}} goal</p> 
								<p>{{#diff causes.[0].start causes.[0].end}}{{/diff}} days left</p>
								<hr/>
								
								<button id="donate1" class="donate">Donate Now</button> 
								
							</section>
						</div>
						<div class="4u 12u(mobile)">
							<section class="middle">								
								<i class="icon featured fa-medkit"></i>

								<header>
									<h2>{{causes.[1].name}}</h2>
								</header>
								<p>{{causes.[1].description}}</p>
								<hr/>
								<p class="current"> <span style="font-size: 120%"><strong>${{causes.[1].current}}</strong></span> raised </p>						
								<progress value="{{causes.[1].current}}" max="{{causes.[1].goal}}"> Progress </progress>
								<p class="goal">${{causes.[1].goal}} goal</p> 
								<p>{{#diff causes.[1].start causes.[1].end}}{{/diff}} days left</p>
								<hr/>
								<button class="donate">Donate Now</button>
							</section>
						</div>
						<div class="4u 12u(mobile)">
							<section class="last">
								<i class="icon featured alt2 fa-paw	"></i>
								<header>
									<h2>{{causes.[2].name}}</h2>
								</header>
								<p>{{causes.[2].description}}</p>
								<hr/>
								<p class="current"> <span style="font-size: 120%"><strong>${{causes.[2].current}}</strong></span> raised </p>	
								<progress value="{{causes.[2].current}}" max="{{causes.[2].goal}}"> Progress </progress>
								<p class="goal">${{causes.[2].goal}} goal</p> 
								<p>{{#diff causes.[2].start causes.[2].end}}{{/diff}} days left</p>
								<hr/>
								<button class="donate">Donate Now</button>
							</section>
						</div>
						

						
<!-- 						<div id="openModal" class="modalDialog">
							<div>
								<a href="#close" title="Close" class="close">X</a>
								<h2>Pay Now</h2>
								<form action="/action_page.php" method="get">
 								 Name: <input type="text" name="fname"><br>
 								 Credit card number: <input type="text" name="cnum"><br>
 								 CVN: <input type="password" name="cvnnum"
 								 <input type="submit" value="Submit">
 								 <a href="#close"> Pay Now</a>
								</form>
							</div>
						</div>
					
					</div> -->

					<!-- <footer>
						<ul class="actions">
							<li><a href="#" class="button big">Get Started</a></li>
							<li>     </li>
							<li>     </li>
							<li>     </li>
							<li><a href="#" class="button alt big"> About us </a></li>
						</ul>
					</footer> -->
				</section>

			</div>
		</div>


		<!-- The Modal -->
		<div id="myModal" class="modal">

			<!-- Modal content -->
			<div class="modal-content">
				<p>
					<form id="donate-form">
						Payment Amount:
						<input id="donationAmount" type="text" name="amount" required="true" />
						<br>
						<input type="submit">
					</form>
				</p>

				<span class="close">&times;</span>
			</div>

		</div>

		<!-- Footer -->

	</div>

	<style>
	.modalDialog {
		position: fixed;
		font-family: Arial, Helvetica, sans-serif;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,0.8);
		z-index: 99999;
		opacity:0;
		-webkit-transition: opacity 400ms ease-in;
		-moz-transition: opacity 400ms ease-in;
		transition: opacity 400ms ease-in;
		pointer-events: none;
	}

	.modalDialog:target {
		opacity:1;
		pointer-events: auto;
	}

	.modalDialog > div {
		width: 400px;
		position: relative;
		margin: 10% auto;
		padding: 5px 20px 13px 20px;
		border-radius: 10px;
		background: #fff;
		background: -moz-linear-gradient(#fff, #999);
		background: -webkit-linear-gradient(#fff, #999);
		background: -o-linear-gradient(#fff, #999);
	}
	.close {
		background: #606061;
		color: #FFFFFF;
		line-height: 25px;
		position: absolute;
		right: -12px;
		text-align: center;
		top: -10px;
		width: 24px;
		text-decoration: none;
		font-weight: bold;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		border-radius: 12px;
		-moz-box-shadow: 1px 1px 3px #000;
		-webkit-box-shadow: 1px 1px 3px #000;
		box-shadow: 1px 1px 3px #000;
	}

	.close:hover { background: #00d9ff; }

</style>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/skel-viewport.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>

</body>
<style>
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.current {
	margin-bottom: -0.5em !important;
}
.goal {
	margin-top: -0.7em !important;
}
</style>

<script>
// // Get the modal
// var modal = document.getElementById('myModal');

// // Get the button that opens the modal
// var btn = document.getElementById("donate1");

// // Get the <span> element that closes the modal
// var span = document.getElementsByClassName("close")[0];

// // When the user clicks the button, open the modal 
// btn.onclick = function() {
// 	modal.style.display = "block";
// }

// // When the user clicks on <span> (x), close the modal
// span.onclick = function() {
// 	modal.style.display = "none";
// }

// // When the user clicks anywhere outside of the modal, close it
// window.onclick = function(event) {
// 	if (event.target == modal) {
// 		modal.style.display = "none";
// 	}
// }

// $('#donate-form').on('submit', (event) => {
// 	event.preventDefault();
// 	var donationAmount = $('#donationAmount').val();

// 	$.ajax({
// 		url: 'http://localhost:3000/causes/update-current',
// 		method: "POST",
// 		data: {
// 			name: "Dog Rescue",
// 			current: donationAmount
// 		},

// 		success: function(data) {
// 			console.log(data);
// 		}
// 	});
// });
</script>


</html>
